# .env.example
# このファイルを .env にコピーし、実際の値を入力してください。
DB_USERNAME_READ=read_username
DB_PASSWORD_READ=read_password
DB_USERNAME_WRITE=write_username
DB_PASSWORD_WRITE=write_password
DB_HOST=host
DB_NAME=db_name